extends layout

block content
	div.topBar.col-xs-12(style="background-color:#A0E6F6;position: absolute;top:0;left:0;right:0;")
		a.col-xs-1(href='/',style="padding-right:0px;margin-top:20px")
			i.fa.fa-home(aria-hidden='true')(style="font-size:30px")
		h1.col.xs-10 Youtube Entity Extraction
	h3(style="margin-left:25px;margin-top:100px") Search for Tags Or Transcript:
	div.searchpanel.col-xs-12(style="margin-bottom:40px;")
		form.search-form.col.xs-12(action="/search", method="post",style="margin-left:25px")
			span.col.xs-12
				input.search-box.form-control.typeahead.col-xs-11(type="text", placeholder="Search For Tags or Transcript", value=search_query, required="required" name='search_query',style="width:50%;")
				| &nbsp;
				input.col-xs-1(type="submit", value="Search",style="padding:5px;")
				i.fa.fa-times(aria-hidden='true')(style="font-size: 20px;left: -140px;position: relative;top: 5px;")(onClick="clearSearchText()")
	h3(style="margin-left:25px;") Top Tags
		|   &nbsp;&nbsp;&nbsp;
	div.topTagsPanel.col-xs-12(style="margin-bottom:20px")
		span.col.xs-10
			each tag in tags
				a(href='/searchVideoByTag/'+tag)
					button.btn.btn-info(style="margin:10px;") #{tag}	
	
	h3(style="margin-left:25px;") Videos
	span.row
		each video in videos
			span.col-xs-2
				a(href='/showVideo/'+video.videoId)
					img(src=video.thumbnail alt="'+video.title+'")(style="object-fit:cover;width:190px;height:150px;margin:10px")