extends layout
	
block content
		h1(style="margin-bottom:50px;margin-top:5px") Search Results:
		div#searchMain
			each link in links
				div.videofetch.col-xs-12(style="background-color:#CFCECD;margin-bottom:10px;padding:0px")
						div.videoResult.col-xs-2(style="padding:0px;")
							img.className#IdName(src=link.thumbnail alt="Image Title")
						div.videoTitle.col-xs-8(style="padding-left:0px")
							a(style='line-height:50px;font-size:20px;text-align:justify;color:#000000;margin-left:5px;text-decoration:none')(href="https://www.youtube.com/watch?v="+link.videoId) #{link.title}
							br
						div.dropdown.col-xs-1(style="margin-top:25px")
							span.transcriptloader
								button.btn.btn-info(onClick="showTranscript();") Get Transcript
						| &nbsp
						div.viewMore.col-xs-12.hide
							div.SearchTrans.col-xs-3(style="float:right;padding:0px;")
								form(action="/search",method="post")
									p
										label Enter Keyword(s) :
										input(type='text',placeholder='Search in transcript',name='search_query')
										input(type='submit',value='Search')
							div.transcript.col-xs-12
								p #{link.transcript}