h1 Search Result for Keywords:
    ul
      each link in links
        a.btn.btn-default(href="https://www.youtube.com/watch?v="+link.videoId) #{link.title}
        p
         #{link.description}
        br
