extends layout
	
block content
	div.videoTitle.col-xs-12(style="background-color:#A0E6F6;position:absolute;top:0;left:0;right:0;")
		a(href='/')
			i.fa.fa-home(aria-hidden='true')(style="font-size:30px;color:#000000")
		a(style='line-height:50px;font-size:20px;color:#000000;margin-left:5px;text-decoration:none')(href="https://www.youtube.com/watch?v="+data.videoId target="_blank") #{data.title}
	div.iframe.col-xs-offset-1.col-xs-6(style="margin-top:80px")
		iframe(width='560', height='315', src='https://www.youtube.com/embed/'+data.videoId, frameborder='0')
	div.transcript.col-xs-12
		div.SearchTrans.col-xs-4(style="float:right;padding:0px;")
			p
				label Enter Keyword(s) :
				input.search-box(type='text',id="search-"+data.videoId,placeholder='Search in transcript',name='search_query',style="padding:5px")
				i.fa.fa-times(aria-hidden='true')(style="font-size:15px;left:-20px;position: relative;")(onClick="clearSearchText()")
				button.btn.btn-info(onClick="highlightWord('"+data.videoId+
				"')",style="display:inline;margin:5px;") Search
		div.transcript.col-xs-12(id="transcript-"+data.videoId)
			p #{data.transcript}
	div.entities.col-xs-12
		p(style="font-weight:bold") ENTITIES
		each tag in data.entities
			a(href='/searchVideoByTag/'+tag)
				li.col-xs-3 #{tag}
